@import "@angular/cdk/overlay-prebuilt.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-underline {
  background-color: green;
}

.cdk-overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.mat-mdc-raised-button:not(:disabled),
.mat-mdc-unelevated-button:not(:disabled) {
  background-color: #673ab7 !important;
  color: #ffffff !important;
}

.mat-mdc-raised-button:disabled,
.mat-mdc-unelevated-button:disabled {
  background-color: #e0e0e0 !important;
  color: rgba(0, 0, 0, 0.38) !important;
}
