.home-container {
  text-align: center;
  margin-top: 50px;

  .greeting {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.home-button {
  background-color: #ff5e86 !important; // New button background color
  color: white !important; // New text color
  &:hover {
    background-color: #ff5e86 !important; // New button background color on hover
  }
}
